<div class="col-md-9">
  <% if @quotation.mode_of_shipment == "Sea"%>
  <%= render partial: "users/manage/shipments/shared/export/sea" %>
  <% else %>
  <%= render partial: "users/manage/shipments/shared/export/air" %>
  <% end %>

</div>


  <% if @quotation.mode_of_shipment == "Sea"%>
  <%= render partial: "users/manage/shipments/shared/export/tracking_sea" %>
  <% else %>
  <%= render partial: "users/manage/shipments/shared/export/tracking_air" %>
  <% end %>