<div class="col-md-9">
  <% if @quotation.mode_of_shipment == "Sea"%>
  <%= render partial: "users/manage/shipments/shared/import/sea" %>
  <% else %>
  <%= render partial: "users/manage/shipments/shared/import/air" %>
  <% end %>

</div>


  <% if @quotation.mode_of_shipment == "Sea"%>
  <%= render partial: "users/manage/shipments/shared/import/tracking_sea" %>
  <% else %>
  <%= render partial: "users/manage/shipments/shared/import/tracking_air" %>
  <% end %>