<div class="col-md-3">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Progress Tracking</h3>

      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
      <div class="col-md-12">
        <!-- The time line -->
        <div class="timeline">
          <!-- timeline time label -->
          <div class="time-label">
            <span class="bg-green"><%= @quotation.created_at.strftime("%Y-%m-%d") %></span>
          </div>

          
          <% if @quotation.quotation_status == "Pending"%>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Quotation</h3>
                </div>
              </div>
          <% elsif @quotation.quotation_status == "Draft"%>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Quotation Sent</h3>
                </div>
              </div>
          <% elsif @quotation.quotation_status == "Client Feedback"%>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Client Feedback</h3>
                </div>
              </div>
          <% elsif @quotation.quotation_status == "Confirmed"%>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Quotation Confirmed</h3>
                </div>
              </div>
          <% elsif @quotation.quotation_status == "Final Confirmed"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Quotation Final Confirmed</h3>
                </div>
              </div>
          <% else %>
              <div>
              <i class="fas fa-check bg-green"></i>
              <div class="timeline-item">
                <h3 class="timeline-header no-border">Quotation</h3>
              </div>
            </div>
          <% end %>
          
          <% if @quotation.booking.present? %>
            <% if @quotation.booking.status == "Booking Confirmation"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Booking Confirmation</h3>
                </div>
              </div>
            <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Booking Not Confirm</h3>
                </div>
              </div>
            <% end %>
          <% else %>
            <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Booking Not Confirm</h3>
                </div>
              </div>
          <% end %>



          <% if @quotation.slbl_confirmation.present? %>
            <% if @quotation.slbl_confirmation.status == "SL/BL Confirmed"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                    
                  <h3 class="timeline-header no-border">AWB Confirmation Complete</h3>
                </div>
              </div>
              <% elsif @quotation.slbl_confirmation.status == "Confirmed" %>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">AWB Confirmation Confirmed</h3>
                </div>
              </div>
              <% elsif @quotation.slbl_confirmation.status == "Draft"%>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                    
                  <h3 class="timeline-header no-border">AWB Confirmation Draft</h3>
                </div>
              </div>
              <% elsif @quotation.slbl_confirmation.status == "Rejected"%>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                    
                  <h3 class="timeline-header no-border">AWB Confirmation Rejected</h3>
                </div>
              </div>
            <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                    
                  <h3 class="timeline-header no-border">AWB Confirmation Not Complete</h3>
                </div>
              </div>
            <% end %>
          <% else %>
            <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                    
                  <h3 class="timeline-header no-border">AWB Confirmation Not Complete</h3>
                </div>
              </div>
          <% end %>

          <% if @quotation.attach_pre_alert.present? %>
            <% if @quotation.attach_pre_alert.status == "Attach Pre Alert Confirmed"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Pre Alert Attach</h3>
                </div>
              </div>
            <% else %>
                <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Pre Alert Attach</h3>
                </div>
              </div>
            <% end %>
          <% else %>
                <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Pre Alert Attach</h3>
                </div>
              </div>
          <% end %>

          <% if @quotation.cargo_declaration.present? %>
            <% if @quotation.cargo_declaration.status == "Cargo Declaration Confirmed"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                    
                  <h3 class="timeline-header no-border">Import Cargo Declaration Complete</h3>
                </div>
              </div>
              <% elsif @quotation.cargo_declaration.status == "Draft"%>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                    
                  <h3 class="timeline-header no-border">Import Cargo Declaration Draft</h3>
                </div>
              </div>
              <% elsif @quotation.cargo_declaration.status == "Rejected" %>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Import Cargo Declaration Rejected</h3>
                </div>
              </div>
              <% elsif @quotation.cargo_declaration.status == "Confirmed" %>
              <div>
                <i class="fas fa-exclamation bg-yellow"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Import Cargo Declaration Confirmed</h3>
                </div>
              </div>
            <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                    
                  <h3 class="timeline-header no-border">Import Cargo Declaration</h3>
                </div>
              </div>
            <% end %>
          <% else %>
            <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                    
                  <h3 class="timeline-header no-border">Import Cargo Declaration</h3>
                </div>
              </div>
          <% end %>

           <% if @quotation.cargo_collection.present? %>
          <% if @quotation.cargo_collection.status == "Planned" %>
          <div>
            <i class="fas fa-exclamation bg-yellow"></i>
            <div class="timeline-item">

              <h3 class="timeline-header no-border">Cargo Delivery Planned</h3>
            </div>
          </div>
          <% elsif @quotation.cargo_collection.status == "Deliver"%>
          <div>
            <i class="fas fa-check bg-green"></i>
            <div class="timeline-item">

              <h3 class="timeline-header no-border">Cargo Delivery Deliver</h3>
            </div>
          </div>
          <% elsif @quotation.cargo_collection.status == "Re-Planned"%>
          <div>
            <i class="fas fa-exclamation bg-yellow"></i>
            <div class="timeline-item">

              <h3 class="timeline-header no-border">Cargo Delivery Re-Planned</h3>
            </div>
          </div>
          <% else %>
          <div>
            <i class="fas fa-times bg-red"></i>
            <div class="timeline-item">

              <h3 class="timeline-header no-border">Cargo Delivery Not Deliver</h3>
            </div>
          </div>
          <% end %>
          <% else %>
          <div>
            <i class="fas fa-times bg-red"></i>
            <div class="timeline-item">

              <h3 class="timeline-header no-border">Cargo Delivery Not Deliver</h3>
            </div>
          </div>
          <% end %>

          

          <% if @quotation.billing.present? %>
            <% if @quotation.billing.status == "Billing Confirmed"%>
              <div>
                <i class="fas fa-check bg-green"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Billing</h3>
                </div>
              </div>
            <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Billing</h3>
                </div>
              </div>
            <% end %>
          <% else %>
              <div>
                <i class="fas fa-times bg-red"></i>
                <div class="timeline-item">
                  <h3 class="timeline-header no-border">Billing</h3>
                </div>
              </div>
          <% end %>
          

          <% if false %>
            <% if @quotation.insurance.present? %>
              <% if @quotation.insurance.status == "Insurance Confirmed"%>
                <div>
                  <i class="fas fa-check bg-green"></i>
                  <div class="timeline-item">
                    <h3 class="timeline-header no-border">Insurance Complete</h3>
                  </div>
                </div>
              <% else %>
                <div>
                  <i class="fas fa-times bg-red"></i>
                  <div class="timeline-item">
                    <h3 class="timeline-header no-border">Insurance Not Complete</h3>
                  </div>
                </div>
              <% end %>
            <% else %>
                <div>
                  <i class="fas fa-times bg-red"></i>
                  <div class="timeline-item">
                    <h3 class="timeline-header no-border">Insurance</h3>
                  </div>
                </div>
            <% end %>
          <% end %>
 
            
            
            

          <div class="time-label">
            <span class="bg-green">Complete</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>