<section class="content">
    <div class="card px-3 py-3 bill-landing">

        <table class="table table-bordered">
            <tr>
                <td width="50%" colspan="2"><span>Shipper</span><br /><p class="p-3">PT. DIGGANTARA INDONESIA <br/>JALAN PAJAJARAN 154 BANDUNG 40174</p></td>
                <td width="50%" colspan="2" rowspan="2">
                    <%= image_tag("BILL OF LADING.png", width: '300',class:"mx-auto d-block") %>
                    <%= image_tag("cargomind.jpeg", width: '600',class:"mx-auto d-block") %></td>
            </tr>
            <tr>
                <td colspan="2">
                    <span>
                        Consignee
                    </span>
                    <br />
                    <div  class="p-3">
                        <p>
                            COMMANDING OFFICER MATERIAL UDARA 2
                        </p>
                        <p>
                            D/A PANGKALAN UDARA SUABNG 40000, SHAH ALAM SELANGOR DARUL EHSAN
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <span>
                        Notify party
                    </span>
                    <br />
                    <div  class="p-3">
                        <p>
                            SAME AS CONSIGNEE
                        </p>
                    </div>
                </td>
                <td colspan="2">
                    <span>
                        Delivery agent
                    </span>
                    <br />
                    <div  class="p-3">
                        <p>
                            CARGOMIND SDN BHD
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>
                        Delivery agent
                    </span>
                    <br />
                    <div  class="px-5">
                        <p>
                            MH722
                        </p>
                    </div>
                </td>
                <td>
                    <span>
                        Voyage no
                    </span>
                    <br />
                    <div  class="px-5">
                        <p>
                          
                        </p>
                    </div>
                </td>
                <td>
                </td>
                <td>
                     <span>
                        Combined transport Onward carriage
                    </span>
                    <br />
                    <div  class="px-5">
                        <p>
                          
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>
                        Place of receipt
                    </span>
                    <br />
                    <div  class="px-5">
                        <p>
                          INDONESIA
                        </p>
                    </div>
                </td>
                <td>
                    <span>
                        Port of loading
                    </span>
                    <br />
                    <div  class="px-5">
                        <p>
                          INDONESIA
                        </p>
                    </div>
                </td>
                <td>
                    <span>
                        Final destionation: (for merchant's reference only)
                    </span>
                    <br />
                    <div  class="px-5">
                        <p>
                          KLIA
                        </p>
                    </div>
                </td>
                <td>
                    <span>
                        Freight payable at
                    </span>
                    <br />
                    <div  class="px-5">
                        <p>
                          DESTINATION
                        </p>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>
                        Port of discharge
                    </span>
                    <br />
                    <div  class="px-5">
                        <p>
                          KLIA
                        </p>
                    </div>
                </td>
                <td>
                    <span>
                        Place of delivery
                    </span>
                    <br />
                    <div  class="px-5">
                        <p>
                          KLIA
                        </p>
                    </div>
                </td>
                <td colspan="2">
                    <span>
                        B/L No.
                    </span>
                    <br />
                    <div  class="px-5">
                        <p>
                          KULINDO01911001
                        </p>
                    </div>
                </td>
            </tr>

        </table>
        <table class="table table-bordered">
            <tr>
                <td>
                    <span>
                        Marks and numbers
                    </span>
                    <br />
                    <div>
                        <p>
                          NIL MARKS
                        </p>
                    </div>
                </td>
                <td>
                    <span>
                        No. of pkgs
                    </span>
                    <br />
                    <div>
                        <p>
                          1 x 20 'HC CNTR OF GENERAL CARGO (5 PACKAGES)
                        </p>
                    </div>
                </td>
                <td>
                    <span>
                        Description of goods
                    </span>
                    <br />
                    <div>
                        <p>
                          SHIPPER'S LOAD COUNT & SEAL CONTAINER SAID TO CONTAIN :-
                        </p>
                    </div>
                </td>
                <td>
                    <span>
                        Gross weight
                    </span>
                    <br/>
                    <div>
                        <p>
                          14000.0000KGS
                        </p>
                    </div>
                </td>
                <td>
                    <span>
                        Measurement
                    </span>
                </td>
            </tr>
        </table>
        <table>
            <tr >
                <td><span class="mb-3" style="text-decoration: underline;">CONTAINER NO:</span></td>
                <td>AIRCRAFT SPAREPARTS (5 PACKAGES)</td>
                <td></td>
                <td></td>
            </tr>
             <tr >
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td><span style="text-decoration: underline;">SEAL NO:</span></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>

        <div class="card-header text-center mt-4">
            <span>FREIGHT PREPAID</span><br />
            <span>ABOVE PARTICULARS AS DECLARED BY SHIPPER</span>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <tr>
                        <td colspan="3"><span>Number of packages in words</span><br /><p class="p-3">FIVE PACKAGES ONLY</p></td>
                        <td colspan="3">
                            <div class="p-3">
                                <span class>If the Pre-carriage of onward carriage boxes are filled out, shipment bill<br/>
                                be treated as through combined transport
                                </span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span>OCEANFREIGHT AND CHARGES<span><br/><span>Rates, weight and / or Measurements</span><br/><span>subject to correction</span></td>
                        <td align="center"><span>Prepaid</span></td>
                        <td align="center"><span>Collect</span></td>
                        <td colspan="3" rowspan="3">
                            <div class="p-3">
                                <p>Received for shipment in apparent good order and condition</p>
                                <p>Terms of this Bill of Lading continued on reverse side hereo</p>
                                <p>IN WITNESS WHEREOF, three (3) original Bills of Lading have been signed all <br/>of this tenor and date one of which being accomplished the others stand void.</p>
                                <div class="mt-5">
                                    <span>Place and date of issue</span><br>
                                    <div class="p-3">
                                    <span>KLIA<span><span class="float-right"> 09.11.2019</span>
                                    </div>
                                    <hr>
                                </div>
                                
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="p-3">
                                <span>FREIGHT PREPAID<br/>SHIPPED ON BOARD
                                </span>
                            </div>
                        </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td><span>Total amount due</span></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <div class="row">
                                <div class="col-md-12">
                                     <span class="float-right">Shipped on board above vessel</span>
                                </div>
                            </div>
                            <div class="row pt-5">
                                <div class="col-md-1 pt-3">
                                    Date
                                </div> 
                                <div class="col-md-5">
                                    <span class="m-5">
                                    09.11/2019
                                    </span>
                                    <hr>
                                </div> 
                                 <div class="col-md-1 pt-3">
                                    By
                                </div> 
                                <div class="col-md-5">
                                    <span class="m-5">
                                   
                                    </span>
                                    <hr>
                                </div> 
                            </div>
                        </td>
                        <td colspan="3">
                         
                        </td>
                    </tr>
                        

                </table>

            </div>

        </div>
    </div>

</section>