<section class="content">
    <div class="card">
        <div class="awb" style="height:1400px;">
            <div class="container mt-5">
                <div class="row mx-5 px-3">
                    <div class="col-md-1">
                        <span>843</span>
                    </div>
                    <div class="col-md-1">
                        <span>KUL</span>
                    </div>
                    <div class="col-md-1">
                        <span>0130 3166</span>
                    </div>
                    <div class="col-md-4 text-center">
                        <span>KUL/TSN</span>
                    </div>
                    <div class="col-md-5 text-right">
                        <span>843-0130 3166</span>
                    </div>
                </div>
                <div class="row pb-4 mb-2 pt-3 mx-5 px-3">
                    <div class="col-sm-7  pt-3" style="line-height: 100%;">
                        <span style="font-size: 13px;">REACHWISE LOGISTICS SDN BHD</span><BR>
                        <span style="font-size: 13px;">LOT A-5 KLAS FORWARDER ANNEX BUILDING</span><BR>
                        <span style="font-size: 13px;">KLIA FREE COMMERCIAL ZONE, KLINTL AIRPORT</span><BR>
                        <span style="font-size: 13px;">64000 SEPANG SELANGOR, MALAYSIA.</span><BR>
                        <span style="font-size: 13px;">TEL: 60333247992 </span><span style="font-size: 13px;"> ATTN: MR
                            EDDIE </span>
                    </div>
                    <div class="col-sm-5 pt-3" style="line-height: 100%;">
                        <span style="font-size: 13px;">AIR ASIA X</span><BR>
                        <span style="font-size: 13px;">KUALA LUMPUR</span>
                    </div>
                </div>
                <div class="row pb-4 mx-5 px-3">
                    <div class="col-sm-7 " style="line-height: 100%;">
                        <span style="font-size: 13px;">REACHWISE LOGISTICS SDN BHD</span><BR>
                        <span style="font-size: 13px;">LOT A-5 KLAS FORWARDER ANNEX BUILDING</span><BR>
                        <span style="font-size: 13px;">KLIA FREE COMMERCIAL ZONE, KLINTL AIRPORT</span><BR>
                        <span style="font-size: 13px;">64000 SEPANG SELANGOR, MALAYSIA.</span><BR>
                        <span style="font-size: 13px;">TEL: 60333247992 </span><span style="font-size: 13px;">
                            ATTN: MR EDDIE </span>
                    </div>
                </div>

                <div class="row mx-5 px-3">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-12">
                                <span style="font-size: 13px;">AAS FREIGHT SDN BHD / KUL </span>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>