<section class="content">
    <div class="card">
        <div class="card-header text-center">
            <h4 class="mb-0"><strong>BOOKING COMFIRMATION</strong></h4>

        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <form class="form-horizontal">
                        <div class="card-body">
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">BOOKING REFERENCE<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">MAC1910155</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">SHIPPER<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">CARGOMIND SDN BHD</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">VESSEL / VOYAGE NO.<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">MTT KUCHING DUA V.19MD019E</label>
                                </div>
                                <label class="col-sm-2 col-form-label">CLOSING DATE & TIME<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label"> </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">2ND VESSEL / VOYAGE NO.<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label"> </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">PORT OF LOADING<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">PORT KLANG</label>
                                </div>
                                <label class="col-sm-2 col-form-label">ETA<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">19/10/2019</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">TRANSHIPMENT PORT<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label"> </label>
                                </div>
                                <label class="col-sm-2 col-form-label">ETA<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label"> </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">PORT OF DISCHARGE<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">SIBU</label>
                                </div>
                                <label class="col-sm-2 col-form-label">ETA<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">27/10/2019</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">FINAL DESTINATION<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">SARIKEI</label>
                                </div>
                                <label class="col-sm-2 col-form-label">ETA<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label"> </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">VOLUME<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">24 PACKAGES / 4.714M3</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">COMMODITY<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">HOUSEHOLD ITEM</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">TERMINAL<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label"> </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">TERM<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                   <label class="col-form-label">FREIGHT PREPAID</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">SHIPPING TERM<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label">CT/DR</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">OPERATOR<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label"> </label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-2 col-form-label">REMARKS<span class="float-right">:</span></label>
                                <div class="col-sm-4">
                                    <label class="col-form-label"><P> WAREHOUSE / DOOR <br/> ** Req manpower at Destination <br/>Delivery address : <br/> LOT 1381 JLN IXORA KPG BARU SEBERANG 96100 <br/> SARIKEI SARAWAN <br/> Tel : 0123-3768624</P></label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</section>