<div class="login-box">
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <div class="login-logo">
    <%= image_tag("cargomind.jpg", height: '75') %>
  </div>
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post,class: 'box' }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="input-group mb-3">
         <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'form-control'%>
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div> 
        <div class="row">
          <!-- /.col -->
          <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Send me reset password instructions</button>
          </div>
          <!-- /.col -->
        </div>
     <% end %>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>


